<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>flipKart</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/public/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
         <div class="text-primary" style="font-size: x-large;">
            <b><i style="font-size:25px ;">Flipkart</i></b>
         </div>
          <div class="ms-3">
            <a class="navbar-brand" href="#">
                <img src="/images/flipkart-logo.com.png" alt="" width="35" height="30">
              </a>
          </div>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active ms-3" aria-current="page" href="/" style="font-size: large;">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/login" style="font-size: large">login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/Register" tabindex="-1" style="font-size:large;">Register</a>
              </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-primary" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
      <div class="container-fluid">
        <%- include(pageName); %>
      </div>
</body>
</html>